.logo {
    display: block;

    font-family: $ff-rlw;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.15;

    &_web {
        color: $color-accent;
    }

    &_studio--black {
        color: $color-black;
    }

    &_studio--white {
        color: $color-white;
    }
}